<!DOCTYPE html>
<html lang="en">
  <% include ./partials/head %>
  <body>
    <% include ./partials/header %>
    <div class="section no-pad-bot" id="index-banner">
      <div class="container">
        <br><br>
        <h2 class="header center orange-text">Vegan in Austin</h2>
        <div class="row center">
          <h5 class="header col s12 light">Find vegan food and see what others are saying about it</h5>
        </div>
        
        <div class="row center">
            <div class="input-field col s12">
              <input type="text" id="search-input">
              <label for="search-input">Search for vegan food</label>
            </div>
        </div>
        <br><br>
  
      </div>
    </div>
    <br><br>
    <% include ./partials/footer %>
    <script>
      $( "#search-input" ).on('keyup', function(e) {
        const inputValue = $( "#search-input" ).val();
        if(inputValue.length > 3 && e.keyCode === 13) {
          window.location.href = `/foods?search=${inputValue}`;
        }
      });
    </script>
    <a href="./foods" class="waves-effect waves-light btn-large"><i class="material-icons left">arrow_right</i>Full Food List</a>
  </body>
</html>

