<!DOCTYPE html>
<html>
  <% include ../partials/head %>

  <body>
    <% include ../partials/header %>
    <div class="container">
      <a href="./">Home</a>
      <h1><%= title %></h1>
      <table>
        <tbody>
          <% foods.forEach((food) => { %>
            <tr>
              <td><%= food.restaurant.name %> | <%= food.name %></td>
              <td><a href="/foods/<%= food._id %>">Details</a></td>
            </tr>
          <% }) %>
        </tbody>
      </table><br>
      <h5><a href="/foods/new">Add new food item</a></h5>
    </div>
    <% include ../partials/footer %>
  </body>
</html>