<!DOCTYPE html>
<html>
  <% include ../partials/head %>

  <body>
    <% include ../partials/header %>
    <div class="container">
      <a href="./" class="waves-effect waves-teal btn-flat"><i class="material-icons left">home</i>Home</a>
      <h1><%= title %></h1>
      <table>
        <tbody>
          <% foods.forEach((food) => { %>
            <tr>
              <td><%= food.restaurant.name %> | <%= food.name %></td>
              <td><a href="/foods/<%= food._id %>">Details</a></td>
            </tr>
          <% }) %>
        </tbody>
      </table><br>
      <a href="/foods/new" class="waves-effect waves-teal btn-flat"><i class="material-icons left">add</i>Add new food item</a>
    </div>
    <% include ../partials/footer %>
  </body>
</html>