<!DOCTYPE html>
<html>
  <% include ../partials/head %>

  <body>
    <% include ../partials/header %>
    <div class="container">
    <h1>NEW</h1>
      <table>
        <tbody>
            <tr>
              <td>new</td>
            </tr>
        </tbody>
      </table><br>
    </div>
    <% include ../partials/footer %>
  </body>
</html>