<!DOCTYPE html>
<html>
  <% include ../partials/head %>

  <body>
    <% include ../partials/header %>
    <div class="container">      
        <a href="./" class="waves-effect waves-teal btn-flat"><i class="material-icons left">home</i>Home</a>
        <h1>Details</h1>
      <a action="/foods/<%= food._id %>?_method=DELETE" method="POST" class="waves-effect waves-teal btn-flat"><i class="material-icons left">delete</i>Delete</a>
      <table>
        <thead>
            <tr>
              <th>Restaurant Name</th>
              <th>Menu Item</th>
            </tr>
          </thead>
        <tbody>
            <tr>
              <td><%= food.restaurant.name %></td> 
              <td><%= food.name %></td>
            </tr>
        </tbody>
      </table>
      <a action="/foods/<%= food._id %>/edit" method="GET" class="waves-effect waves-teal btn-flat"><i class="material-icons left">create</i>Update</a>
    </div>
    <% include ../partials/footer %>
  </body>
</html>