<!DOCTYPE html>
<html>
  <% include ../partials/head %>

  <body>
    <% include ../partials/header %>
    <div class="container">
      <h1>Details</h1>
      <table>
        <thead>
            <tr>
              <th>Restaurant Name</th>
              <th>Menu Item</th>
            </tr>
          </thead>
        <tbody>
            <tr>
              <td><%= food.restaurant.name %></td> 
              <td><%= food.name %></td>
            </tr>
        </tbody>
      </table><br>
      <a href=".">Home</a>
    </div>
    <% include ../partials/footer %>
  </body>
</html>