<!DOCTYPE html>
<html>
  <% include ../partials/head %>

  <body>
    <% include ../partials/header %>
    <div class="container">      
      <a href="./">Home</a>
      <h1>Details</h1>
      <form action="/foods/<%= food._id %>?_method=DELETE" method="POST">
        <button type="submit">Delete</button>
      </form>
      <table>
        <thead>
            <tr>
              <th>Restaurant Name</th>
              <th>Menu Item</th>
            </tr>
          </thead>
        <tbody>
            <tr>
              <td><%= food.restaurant.name %></td> 
              <td><%= food.name %></td>
            </tr>
        </tbody>
      </table>
      <!-- <form action="/foods/<%= food._id %>" method="PUT">
        <button type="submit">Update Food Item</button>
      </form> -->
    </div>
    <% include ../partials/footer %>
  </body>
</html>