<!DOCTYPE html>
<html>
  <% include ../partials/head %>

  <body>
    <% include ../partials/header %>
    <div class="container">      
      <a href="./" class="waves-effect waves-teal btn-flat"><i class="material-icons left">arrow_back</i>Back</a>
      <h1 class="chosen-heading-font">Details</h1>
      <% if (isOwner) { %>
        <form action="/foods/<%= food._id %>?_method=DELETE" method="POST">
          <button class="waves-effect waves-teal btn-flat" type="submit"><i class="material-icons left">delete</i>Delete</button>
        </form>
      <% } %>
      <table>
        <thead>
            <tr>
              <th>Restaurant Name</th>
              <th>Menu Item</th>
            </tr>
          </thead>
        <tbody>
            <tr>
              <td><%= food.restaurant.name %></td> 
              <td><%= food.name %></td>
            </tr>
        </tbody>
      </table>
      <% if (isOwner) { %>
        <a href="/foods/<%= food._id %>/edit" method="GET" class="waves-effect waves-teal btn-flat"><i class="material-icons left">create</i>Update</a>
      <% } %>
    </div>
    <% include ../partials/footer %>
  </body>
</html>